<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii generator - Dhravya Shah</title>

    <link href="/static/styles/output.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="/static/images/profilepic.jpg">

    <!-- Meta tags for SEO and social embeds -->
    <meta content="#9affe1" name="theme-color">
    <meta name="description" content="An image or text to ascii generator."/>
    <meta name = "og:title" content = "Ascii Generator - Dhravya Shah">
    <meta name = "og:description" content = "An advanced, fully customisable QR code generator.">
    <meta name = "og:url" content = "https://dhravya.me">
    <meta name = "og:type" content = "website">
    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8"/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dhravyashah">
    <meta name="twitter:title" content="QR Code Generator - Dhravya Shah">
    <meta name="twitter:description" content="An advanced, fully customisable QR code generator.">
    <meta name="twitter:creator" content="@dhravyashah">
    <meta name="twitter:image" content="https://api.dhravya.me/qrcode?query=qrcodegenerator">

</head>
<body class="bg-[#212f3f]">
    
    <div class="py-24">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row sm:items-center">
                
          <div class="sm:w-6/12 sm:pr-24">
            <p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
              Text and fun utilities
            </p>
            <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-slate-400">
              Image to <span class="text-indigo-600"> Ascii art generator</span>
            </h3>
            <p class="mt-2 text-base leading-6 text-gray-500">
              Simple image to ascii art generator
            </p>
            
            <div class="mt-10">
            <ul class="flex flex-col sm:flex-row">
              <li class="my-10 md:mt-0">
                <div class="flex flex-col">
                  <div class="flex-shrink-0">
                    <div class="flex items-center justify-center h-8 w-8 rounded-md text-indigo-500">
                      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                      </svg>
                    </div>
                  </div>
                  <div class="mt-4">
                    <h4 class="text-lg leading-6 font-medium text-gray-500">Made using</h4>
                    <p class="mt-2 text-base leading-6 text-gray-500">
                      DhravyaAPI
                    </p>
                  </div>
                </div>
              </li>
              </ul>

              <!-- Form that accepts an image and POSTS it to /upload_image_for_ascii -->
                <form action="/upload_image_for_ascii" method="post" enctype="multipart/form-data">
                    <div class="mt-8">
                    <div class="rounded-md shadow-sm">
                      <div>
                        <input type="file" name="image" id="file" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 text-white" />
                      </div>
                    </div>
                    </div>
                    <div class="mt-6">
                      <span class="block w-full rounded-md shadow-sm">
                        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                          Generate
                        </button>
                      </span>
                    </div>
                </form>
            
              <br>
            </div>
            
          </div>
          
          <br>
          <br> <br>
          <div id="image_success" class="bg-green-500 text-white mt-10"></div>
        </div>
        <br> 
    </div>  
       
<script src="/static/js/ascii.js" ></script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js">
   </script>
</body>
</html>