<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code generator - Dhravya Shah</title>

  <link href="/static/styles/output.css" rel="stylesheet" />

  <!-- Favicon -->
  <link rel="icon" href="/static/images/profilepic.jpg">

  <!-- Meta tags for SEO and social embeds -->
  <meta content="#9affe1" name="theme-color">
  <meta name="description" content="An advanced, fully customisable QR code generator." />
  <meta name="og:title" content="QR Code Generator - Dhravya Shah">
  <meta name="og:description" content="An advanced, fully customisable QR code generator.">
  <meta name="og:url" content="https://dhravya.me">
  <meta name="og:type" content="website">
  <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dhravyashah">
  <meta name="twitter:title" content="QR Code Generator - Dhravya Shah">
  <meta name="twitter:description" content="An advanced, fully customisable QR code generator.">
  <meta name="twitter:creator" content="@dhravyashah">
  <meta name="twitter:image" content="https://api.dhravya.me/qrcode?query=qrcodegenerator">

</head>

<body class="bg-[#212f3f]">

  <div class="py-24">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row sm:items-center">

      <div class="sm:w-6/12 sm:pr-24">
        <p class="mt-4 text-sm leading-7 text-gray-500 font-regular">
          Web & API
        </p>
        <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-slate-400">
          Custom<span class="text-indigo-600"> QR Code generator</span>
        </h3>
        <p class="mt-2 text-base leading-6 text-gray-500">
          Fast, easy to use, highly efficient QR Code generator.
        </p>

        <div class="mt-10">
          <ul class="flex flex-col sm:flex-row">
            <li class="my-10 md:mt-0">
              <div class="flex flex-col">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-8 w-8 rounded-md text-indigo-500">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                    </svg>
                  </div>
                </div>
                <div class="mt-4">
                  <h4 class="text-lg leading-6 font-medium text-gray-500">Made using</h4>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    DhravyaAPI
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <label for="inputField" class="m-4 text-blue-300">1. Enter QR code content</label>
          <input type="text" class="bg-slate-200" id="inputField" placeholder="The data held by qr code" required>
          <br>
          <label for="mask_select" class="m-4 text-blue-300">2. Select the mask</label>
          <select name="Mask" id="mask_select" class="m-4 bg-blue-200">
            <option value="1">Mask 1 - Default</option>
            <option value="2">Square Gradient</option>
            <option value="3">Left Gradient</option>
            <option value="4">Right Gradient</option>
            <option value="5">Bottom gradient</option>
          </select>
          <br>
          <label for="drawer_select" class="m-4 text-blue-300">3. Select the drawer to make your qr code look
            *fancy*</label>
          <select name="Drawer" id="drawer_select" class="m-4 bg-blue-200">
            <option value="1">Drawer 1 - Default drawer</option>
            <option value="2">Small squares</option>
            <option value="3">Small circles</option>
            <option value="4">Fancy joint lines</option>
            <option value="5">Vertical lines</option>
            <option value="6">Horizontal lines</option>
          </select>
          <br>
          <p class="text-white">Note: Custom Foreground and background DO NOT work with mask and drawer properties</p>
          <label for="foreground_iput" class="m-4 text-blue-300">Foreground colour</label>
          <select name="Foreground" id="foreground_iput" class="m-4 bg-blue-200">
            <option value="0">None - wont work with drawer and mask</option>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="cyan">Cyan</option>
            <option value="purple">Purple</option>
            <option value="magenta">Magenta</option>
            <option value="indigo">Indigo</option>
            <option value="violet">Violet</option>
            <option value="indigo">Indigo</option>
          </select>
          <br>
          <label for="background_iput" class="m-4 text-blue-300">Background colour</label>
          <select name="Background" id="background_iput" class="m-4 bg-blue-200">
            <option value="0">None - wont work with drawer and mask</option>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="cyan">Cyan</option>
            <option value="purple">Purple</option>
            <option value="magenta">Magenta</option>
            <option value="indigo">Indigo</option>
            <option value="violet">Violet</option>
            <option value="indigo">Indigo</option>
          </select>
          <br>
        </div>

      </div>

      <div class="sm:px-10 md:pr-24 lg:pl-24 sm:w-6/12">
        <div class="h-full mx-auto rounded bg-cover bg-right shadow-lg">
          <img src="" alt="QR Code Result - Put in the values and click out of the input box" id="qrcode_image"
            class="text-white">
        </div>
        <br>
        <a id="copy_button" class="
              cursor-pointer
              text-white
              rounded-full
              font-manrope
              text-center
              bg-indigo-500
              p-5
              hover:bg-slate-800
            ">
          Copy Image to clipboard</a>
        <br>
        <br> <br>
        <a id="download_button" class="
              cursor-pointer
              text-white
              rounded-full
              font-manrope
              text-center
              bg-indigo-500
              p-5
              hover:bg-slate-800
            ">
          Download Image</a>
        <br> <br>
        <div id="image_success" class="bg-green-500 text-white mt-10"></div>
      </div>
      <br>
    </div>
  </div>

  <script src="/static/js/qrcode.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js">
  </script>
</body>

</html>